################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Christ3D/.vs/Christ3D/v16/Server/sqlite3
/Christ3D/.vs/Christ3D/v16
/Christ3D/Chris3D.UI.Web/bin/Debug/netcoreapp2.2
/Christ3D/Chris3D.UI.Web/obj
